go 1.21.3

use (
	./arrays-slices-iteration
	./concurrency
	./contexts
	./datastructures
	./design-patterns
	./example/hello
	./functions
	./generics
	./hello
	./interfaces
	./kubernetes
	./structs
)
